*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;  
}



table, th, td {
    border: 1px solid rgb(251, 251, 251);
    border-collapse: collapse;
}

h1{
    color: red;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-around;
}

.rightSideData {
    margin-top: 0.5rem;
}

.bar{
    background-color: rgb(177, 148, 110);
    width: 176%;
    height: 1rem;
    margin-left: -95px;
}

input {
    background-color:#fca311;
    width: 30%;
    color:white;
}




/* .firstPara {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} */

.firstPara{
    margin-top: 1rem;
    display:block;
    margin: 0 auto;
    /* margin-left: 10%; */
    border:1px solid rgb(255, 255, 255);
    border-radius:2px;
    padding:1rem;
    width:50%;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap:1rem;
    /* flex-basis: calc(50% - 20px); */
    /* gap: 20rem; */
}

/* label {
    margin-bottom: 5px;
    margin-left:-4rem;
} */

.second-para-heading{
    font-weight: bold;
    text-align:center;
}

.centered-table {
    width: 70%; 
    margin: 0 auto; 
}

.para-center{
    text-align: center;
    color: red;
}


    #secondpara,#secondTextArea {
        width: 52%;
        height: 8rem;
        border-radius: 1rem;
        padding: 1rem;
    }




#thirdPara{
    width:20%;
    height:8rem;
    border-radius:1rem;
    padding:1rem;
}

#fourthPara{
    width:20%;
    height:8rem;
    border-radius:1rem;
    padding:1rem;
}

#fifthPara{
    width:20%;
    height:8rem;
    border-radius:1rem;
    padding:1rem;
}

.second-para {
    text-align: center; 
}

.center-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Optionally center text content */
  }
  .second-para-heading {
    font-weight: bold;
  }

.medicaldataone{
    width:100%;
    height:4rem;
    border-radius:1rem;
    padding:1rem;
}

.question{
    width: 100%;
    border: none;
}

.question:focus {
    outline: none; 
}




html {
    background-color: #fca311;
  }

  .dateandyear {
    width: 20%;
    margin-right: 1rem;
  }

  .datediv {
    display: flex;
    justify-content: center;
    margin: 1rem;

  }

  .logo {
    border: 1px white;
    border-radius: 17rem;
    margin-top: 0.5rem;
  }

  .firstPara {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .firstPara label {
    display: block;
    text-align: left;
  }

  .firstPara input, .medical input,.medicineTaking input {
    width: 100%;
    height: 40px;
    border-radius: 1rem;
    border: 1px solid white;
    padding: 1rem;
  }

  textarea{
    background-color: #fca311;
    border: 1px solid white;
    border-radius: 1rem;
    color:white;
  }

  .medical,.experienceofweightloss{
    border: 1px solid white;
    width: 50%;
    padding: 1rem;
    display: block;
    margin: 0 auto;
  }

  .experienceofweightloss textarea{
    width: 100%;
  }

  .medicineTaking{
    border: 1px solid white;
    width: 50%;
    padding: 1rem;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .foodDiary,.analysis,.photos{
    border: 1px solid white;
    width: 70%;
    padding: 1rem;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
  }

  #fifthPara{
    width: 100%;
  }  
  
  .btn{
      background-color: black;
      color: #ede7e7;
      border: 2px solid rgb(210, 222, 76);
      border-radius: 0px;
      padding: 18px 36px;
      display: inline-block;
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 14px;
      letter-spacing: 1px;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 #fca311;
      -webkit-transition: ease-out 0.4s;
      -moz-transition: ease-out 0.4s;
      transition: ease-out 0.4s;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
  }

  .btn:hover {
    box-shadow: inset 0 100px 0 0  #fca311;
  }
  .datediv label {
    margin-top: 0.5rem;
    padding-right: 1rem;
  }
 
  .datediv input {
  width: 23%;
  height: 20px;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem;
}





@media (min-width: 320px) and (max-width: 479px) {
    .firstPara, #secondpara, #secondTextArea, .medical, .experienceofweightloss, .foodDiary, .analysis, .photos {
        width: 100%;
    }
    .centered-table {
        width: 100%;
    }
    .logo {
        border: 1px white;
        border-radius: 17rem;
        margin-top: 0.5rem;
        width: 100px;
        height: 100px;
        padding: 0.4rem;
    }
    #medical{
        width: 100%;    
    }
}


@media (min-width:480px) and  (max-width: 599px){
    .firstPara, #secondpara, #secondTextArea, .medical, .experienceofweightloss, .foodDiary, .analysis, .photos {
        width: 100%;
    }
    .centered-table {
        width: 100%;
    }
    .logo {
        border: 1px white;
        border-radius: 17rem;
        margin-top: 0.5rem;
        width: 100px;
        height: 100px;
        padding: 0.4rem;
    }
    #medical{
        width: 100%;    
    }
}

@media (min-width:600px) and (max-width:767px) {
    .firstPara, #secondpara, #secondTextArea, .medical, .experienceofweightloss, .foodDiary, .analysis, .photos {
        width: 100%;
    }
    .centered-table {
        width: 100%;
    }
    .logo {
        border: 1px white;
        border-radius: 17rem;
        margin-top: 0.5rem;
        width: 100px;
        height: 100px;
        padding: 0.4rem;
    }
    #medical{
        width: 100%;    
    }
}